table {
  width: 100%;
  border-collapse: collapse;
  background: none;
  font-family: monaco;
  font-size: x-large;
  border: 1px solid black;
}

table .score {
  font-weight: 700;
  text-align: center;
  color: var(--red);
}

table .winner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}

th,
td {
  padding: 4px 8px;
  border: 1px solid black;
  text-align: left;
}

th {
  background: #ddd;
  font-weight: 600;
}

tr:nth-child(even) {
  background: #ddd;
}
