.move-btn {
  padding: 0.05em;
  color: var(--red);
  aspect-ratio: 1 / 1;
  min-width: 0.8em;
  min-height: 0.8em;
}

.move-btn.pressed {
  background: #000;
  border-radius: 6px;
  color: #fff;
}

.keypad-buffer {
  padding-top: 0.5em;
}

.keypad {
  display: grid;
  padding: 0.5em 0.8em;
  gap: 0.6em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    ". . up ."
    "space left down right";
}

.keypad-line {
  display: grid;
  padding: 0.5em 0.8em;
  gap: 0.6em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "space up left down right";
}

.space {
  grid-area: space;
}

.up {
  grid-area: up;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.tet-i {
  background-color: var(--tet-color-i);
}

.tet-j {
  background-color: var(--tet-color-j);
}

.tet-l {
  background-color: var(--tet-color-l);
}

.tet-o {
  background-color: var(--tet-color-o);
}

.tet-s {
  background-color: var(--tet-color-s);
}

.tet-t {
  background-color: var(--tet-color-t);
}

.tet-z {
  background-color: var(--tet-color-z);
}

.tet-empty {
  background-color: var(--tet-color-empty);
}

.tet-indestructible {
  background-color: var(--tet-color-indestructible);
}

.tet-attack,
.tet-duplication,
.tet-bomb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  font-size: 100%;
}

.tet-attack::before,
.tet-duplication::before,
.tet-bomb::before {
  content: " ";
  line-height: 1;
}

.tet-attack {
  background-color: var(--tet-color-attack);
}
.tet-attack::before {
  content: "⚔️";
}

.tet-duplication {
  background-color: var(--tet-color-duplication);
}
.tet-duplication::before {
  content: "🌀";
}

.tet-bomb {
  background-color: var(--tet-color-bomb);
}
.tet-bomb::before {
  content: "💣";
}

@container cell-container (min-width: 40px) {
  .tet-attack::before,
  .tet-duplication::before,
  .tet-bomb::before {
    font-size: 200%;
  }
}

@container cell-container (max-width: 20px) {
  .tet-attack::before,
  .tet-duplication::before,
  .tet-bomb::before {
    font-size: 60%;
  }
}

.tet-shadow {
  box-shadow: inset 0 0 0 2px var(--dark);
  background-color: var(--tet-color-empty);
}

.tet-error {
  background-color: var(--white);
}
