:root {
  --brown: #825244;
  --red: #bd4844;
  --orange: #e3773d;
  --yellow: #f7ed7b;
  --green: #3e7330;
  --stone: #312836;
  --dark: #1b1a2b;
  --violet: #323266;
  --blue: #3678b5;
  --teal: #83dbce;
  --grey: #757575;
  --purple: #47264d;
  --pink: #de81ac;
  --white: #fae3dc;

  --tet-color-i: var(--teal);
  --tet-color-o: var(--yellow);
  --tet-color-t: var(--purple);
  --tet-color-j: var(--blue);
  --tet-color-l: var(--orange);
  --tet-color-s: var(--green);
  --tet-color-z: var(--red);
  --tet-color-empty: #e4e3e3;
  --tet-color-indestructible: var(--grey);
  --tet-color-attack: var(--violet);
  --tet-color-duplication: var(--pink);
  --tet-color-bomb: var(--dark);
  --tet-color-shadow: #b8c4ee;
}

.red-title {
  font-size: 2.5rem;
  @media (min-width: 600px) {
    font-size: 3rem;
  }
  color: var(--red);
}

.center {
  text-align: center;
}

/* TODO : rename to something smart */
.thing {
  width: 100%;
  max-width: 20em;
  height: 100%;
}

.grid {
  display: flex;
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
  gap: 0.2em;
  flex-direction: column;
}

.line {
  display: flex;
  gap: 0.2em;
}

.cell {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  container-name: cell-container;
}
