/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  --co: #ffcd9e;
  --co: #e0a575;
  --co: #b5714c;
  --brown: #825244;
  --co: #5c3c41;
  --co: #853550;
  --red: #bd4844;
  --orange: #e3773d;
  --co: #ffbc57;
  --yellow: #f7ed7b;
  --co: #c8db4b;
  --co: #7ac259;
  --co: #699434;
  --green: #3e7330;
  --co: #29524e;
  --co: #38423b;
  --stone: #312836;
  --dark: #1b1a2b;
  --co: #09090f;
  --violet: #323266;
  --co: #296080;
  --blue: #3678b5;
  --co: #4fa7b8;
  --teal: #83dbce;
  --co: #c7e0e3;
  --co: #9fb2b5;
  --co: #918891;
  --grey: #757575;
  --co: #575651;
  --purple: #47264d;
  --co: #8a4576;
  --pink: #de81ac;
  --co: #f5aec8;
  --white: #fae3dc;

  --tet-color-i: var(--teal);
  --tet-color-o: var(--yellow);
  --tet-color-t: var(--purple);
  --tet-color-j: var(--blue);
  --tet-color-l: var(--orange);
  --tet-color-s: var(--green);
  --tet-color-z: var(--red);
  --tet-color-none: #e4e3e3;

  /* 
  I: 1,
  O: 2,
  T: 3,
  J: 4,
  L: 5,
  S: 6,
  Z: 7,
*/
}

.red-title {
  font-size: 2.5rem;
  @media (min-width: 600px) {
    font-size: 3rem;
  }
  color: var(--red);
}

.center {
  text-align: center;
}

.thing {
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
}
