.opt-flex {
  display: flex;
  gap: 1em;
}

.opt-heading {
  font-family: Chicago;
  font-size: smaller;
  margin-bottom: 0.3em;
}

.opt-powerups {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}

.opt-range-num {
  width: 1.5em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #0000;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #000000;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #000000;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-ms-thumb {
  width: 12px;
  height: 12px;
  background: #000000;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
